//Color Schema
    $backgroundColor: rgb(68, 69, 75);
    $secondaryBackgroundColor: #212529;
    $platinum: grey;

//Font Collections
    $sansFont: Poppins,sans-serif;
    $serifFont: 'Playfair Display', serif;




