@use 'variables' as vars;
@use 'mixins' as mixins;

#multiplayerRoomHeader{
    margin-top: 5px;
    width: max-content;
    padding: 10px 30px;
    margin-bottom: 0px;
    border: 5px solid rgb(0, 0, 0);
    #roomTitle{
        color: lightgreen;
        margin-bottom: 10px;
    }
    h4{
        margin-bottom: 10px;
    }
    #linkHolder{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #roomLink{
            padding: 10px;
            border: 2px solid lightgreen;
            border-radius: 20px;
            margin-right: 20px;
            span{
                color: lightgreen;
                font-size: larger;
            }
        #privateInfo{
            font-size: smaller;
        }
        }
    }
}

#gameSpace{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .boggleBoard{
        height: 60vh;
        width: 50vw;
        border-radius: 20px;
        border: 5px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            padding: 20px;
            color: rgba(0, 0, 0, 0.63);
        }
    }
    #participantsHolder, #chatHolder{
        width: 22vw;
        padding: 0px;
        margin: 0px 50px;
        align-items: center;
        border-radius: 20px;
    }
    .header{
        color:#90ee90;
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgb(37, 37, 37);
        margin: 0px;
        width: 100%;
        padding-top: 10px;
        font-weight: bolder;
        border: 5px solid rgb(0, 0, 0);
    }
    .body{
        height: 55vh;
        text-align: center;
        margin-top: 30px;
        overflow-y: auto;
        .participantYou, .participantElse{
            font-size: 20px;
            margin-bottom: 30px;
            button{
                width: 150px;
                margin: 10px;
            }
        }
        .sentMessage{
            float: right;
            border: 2px solid black;
            border-radius: 20px;
            margin-right: 20px;
            padding: 10px;
            background-color: rgb(37, 37, 37);
            color:lightgreen;
            font-weight: bold;
            width: 65%;
            .messageHeader{
                padding-bottom: 5px;
                border-bottom: 2px solid black;
            }
            
        }
        .recievedMessage{
            float: left;
            border: 2px solid balck;
            border-radius: 20px;
            margin-left: 20px;
            padding: 10px;
            background-color: lightgreen;
            color:black;
            width: 65%;
        }
    }
}



.chatFooter{
    height: 60px;
    border-top: 2px solid white;
    input{
        width: calc(100% - 40px);
        margin-right:0px;
        height: 60px;
        border-bottom-left-radius: 20px;
        padding-left: 8px;
        margin-left: 0px;
        border: none;
        margin-top: 0px;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    button{
        width: 40px;
        margin-top: -5px;
        margin-left: 0px;
        padding-top: 1px;
        height: 60px;
        border-bottom-right-radius: 20px;
        border: none;
        background-color: lightgreen;

    }
}


#buttonsHolder{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        width: 360px;
        margin: 0px 30px;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }

}
#startButton{
    background-color: lightgreen;
    color:rgb(37, 37, 37);
    border: 4px solid rgb(37, 37, 37);
}
#abandonButton{
    background-color: rgb(37, 37, 37);
    color:lightgreen;
    border: 4px solid lightgreen;
}


